body{
  width: 100%;
  height:100%;
  margin: 0px;
  padding:0px;
}

.level{
	background:url(img/5.png);
}

.container {
  width: 100%;
  height: 100%;
}
.toppane {
  width: 100%;
  height: 9%;
  border-collapse: collapse;
  overflow:hidden;
  background: linear-gradient(90deg, #136a8a, #267871);
  position: fixed;
  display: block;
 
}
.leftpane {
    width: 22%;
    height: 550px;
    float: left;
    background: #f1f1f2;
    border-collapse: collapse;
	margin-top: 61px;
}
.middlepane {
    width: 53%;
    height: 91%;
    float: left;
    background-color: white;
    border-collapse: collapse;
	margin-top: 61px;
}
.rightpane {
  width: 25%;
  height: 550px;
  float: right;
  background-color: #f1f1f2;
  border-collapse: collapse;
  margin-top: 61px;
}
.topleft{
	margin:0px;
}



.mid_top
{
	margin: 0px 0px 58px 0px;
	overflow: hidden;
}


.postlevel
{
	padding: 2px 0px 5px 12px;
	margin: 0px;
	background-color:#f5f6f7;
}

#textarea {
	border: 1px #ddd solid;
	width: 711px;
	height: 175px;
	font: 9pt Consolas;
	resize: none;
	margin: -18px 0px 0px 0px;
	padding-left: 9px;
}




#h2{font-family:lucida-console;margin: 0px 0px 0px 33px;
 font-size: 35px;color: #F8F8F6;}
#h3{margin: -12px 34px 0px; letter-spacing: 3px;color: #BBC3C4;}

.mainmenu{float:left;}
.mainmenu ul{margin:-24px 0px 0px 295px;padding:0;list-style:none;letter-spacing: 2px;}
.mainmenu ul li{float:left;margin-right:10px;}
.mainmenu ul li a{display:block;padding:5px 10px;font-weight:bold;text-decoration:none;color:white;}
.mainmenu ul li a:hover{background:white;color:#136A8A;border-radius:5px}

#search{
	width: 230px;
	padding: 5px 0px 5px 0px;
	font-size: 15px;
	border:none;
	margin: 0px 0px 0px 1000px;
	font-family:lucida-console;
}
#srcbtn
{
	margin: 4px 0px 0px -4px;
	padding: 5px 10px 6px 9px;
	border: none;
	color: gray;
	background-color: #ddd5d5;
}
.button {
	width: 115px;
	margin: 25px 0px 10px 349px;
	border-radius: 11px;
	background-color: #146B88;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	font-family: lucida console;
	font-style:bold;
}
.button:hover{
  background-color: #257773;
}

.bottom {
  width: 100%;
  height:51px;
  float:right;
  background: linear-gradient(90deg,#267871,#136a8a);
}

